/* reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg:   #191724;   /* deep purplish-black */
  --fg:   #fccfc6;   /* rose outline pink */
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: monospace;
}

#ascii-text {
    border: 5px #000 ridge;

}

#terminal {
      background: #000;
      color: #0f0;
      font-family: monospace;
      padding: 1rem;
      width: 90%;
      max-width: 400px;
      margin: 2rem auto;
      border: 5px ridge #000;
    }

.line { white-space: pre; }
    .prompt::before { content: "$ "; }
    .caret {
      display: inline-block;
      width: 8px;
      background: #0f0;
      animation: blink 1s step-end infinite;
      vertical-align: bottom;
    }
    @keyframes blink {
      50% { background: transparent; }
    }


.vertical-bar ul{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.vertical-bar ul li a {
    text-decoration: none;
    color: inherit;
  }

