* {
    box-sizing: border-box;
  }

@font-face {
    font-family: 'Jetbrains Mono';
    src: url('Styles/fonts/JetBrainsMono-Regular.ttf');
}

body {
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1B263B;
}

#main {
    font-family: Jetbrains Mono, monospace;
    border: 10px gainsboro ridge;
    background-color: #778DA9;
    height: 75%;
    width: 80%;
}

#titlebar {
    display: flex;
    justify-content: space-evenly;
}
#dashed-line {
    border-top: 2px groove white;
    width: 100%;
}

#main h1 {
    text-align: center;
    font-weight: bolder;
    color: #E0E1DD;
}

#main p {
    color: #E0E1DD;
    text-align: center;
}

#mini-bar {
    height: 75px;
}

#horizontal-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 30vh;
}

#horizontal-list li {
    text-decoration: none;
}

#horizontal-list i {
    font-size: 40px;
    color: #E0E1DD;
}

#body {
    margin: 10px;
}

#img {
    display: grid;
    place-items: center;
}

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }